@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: orangered;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

#back-button {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#login-page{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    border: 1px solid #ccc;
    padding: 50px 20px;
    border-radius: 4%;
}

label, input{
    font-size: 18px;
    margin: 12px;
    padding: 5px;
}

#fecthDatafromURL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 90px;
}

.button{
    background-color: orangered;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    margin-left: 305px;
}

.css-box {
    width: 300px;
    margin: 15px;    
    padding: 10px;
    border: 1px solid #ccc;
}

img {
    height: 220px;
    width: 280px
}

h2 {
    font-size: 16px;
    margin: 5px 0px 5px 0px;
}

p {
    font-size: 12px;
    text-align: justify;
    margin: 5px 0px 5px 0px;
}

.price{
   font-weight: bold;
   font-size: 16px;
}

button {
    padding: 8px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 6px;
}

.foot {
    display: flex;
    justify-content: space-between;
}

alert {
    background-color: orangered;
    border: 1px solid black;
}